.vscode/tasks.json
.vscode/settings.json
First Term/Unit 4 - Embedded Software Architecture/Lesson 1 - Data Structures/linked_list/.vscode
First Term/Unit 4 - Embedded Software Architecture/Lesson 2 - Embedded System Architecture/diagrams/*
First Term/Term End/Project 2/.vscode/*
